<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.survey.mappers.AnswerMapper">

<insert id="createAnswer">
insert into tbl_oxanswer(smno,sdno,userid,answer)
values(#{smno}, #{sdno}, #{userid}, #{answer})
</insert>


<delete id="deleteAnswer">
delete from tbl_oxanswer where sdno = #{sdno} and userid = #{userid}
</delete>

<select id="oxStatistics" resultType="int">
select count(answer)
from tbl_oxanswer where smno = #{smno} and sdno = #{sdno}  and answer = #{answer}
</select>


</mapper>