<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.survey.mappers.memberMapper">

<select id="login" resultType="MemberVO">
select * from tbl_member where userid = #{userid} and userpw = #{userpw} 
</select>

<insert id="create" parameterType="MemberVO">
insert into tbl_member(userid,userpw,email)value(#{userid},#{userpw},#{email})
</insert>

<update id="keepLogin">
update tbl_member
set sessionkey = #{sessionId}, sessionLimit = #{next}
where userid = #{userid}
</update>

<select id="checkSessionKey" resultType="MemberVO">
select * tbl_member
where sessionkey = #{value}
and sessionlimit > now()
</select>

<select id="checkId" resultType="java.lang.Integer">
select count(*) from tbl_member where userid = #{userid}
</select>




	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'm'.toString()">
				where membername like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'e'.toString()">
				where email like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'me'.toString()">
				where ( membername like CONCAT('%', #{keyword}, '%') OR
				email
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>


	<select id="listPage" resultType="MemberVO">
 <![CDATA[
 select 
   * 
 from 
 tbl_member
 order by membername
 limit #{page}, 10
 ]]>
	</select>

	<select id="listSearch" resultType="MemberVO">
<![CDATA[  
  select * 
  from tbl_member 
   
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by membername
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="count" resultType="java.lang.Integer">
		select count(*) from
		tbl_member
	</select>

	<select id="listSearchCount" resultType= "java.lang.Integer">
<![CDATA[  
  select count(membername) 
  from tbl_member 
   
]]>
		<include refid="search"></include>

	</select>
	
	

</mapper>
