<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.survey.mappers.SurveyDetailMapper">

<select id="list" resultType="SurveyDetailVO">
select sdno, smno, sdtitle, sdcontent, sdtype, sdregdate, sdupdatedate, (select  fullName from tbl_attach where sdno = tbl_surveydetail.sdno) attachFile 
from tbl_surveydetail
where smno = #{smno}
order by sdno asc
</select>

<insert id="create" parameterType="SurveyDetailVO">
insert into tbl_surveydetail (smno,sdtitle,sdcontent,sdtype)
values(#{smno},#{sdtitle},#{sdcontent},#{sdtype})
</insert>

<update id="upadte" parameterType="SurveyDetailVO">
update tbl_surveydetail set 
sdtitle = #{sdtitle},
 sdcontent = #{sdcontent},
 sdtype = #{sdtype} 
 where sdno = #{sdno}
</update>

<delete id="delete" parameterType="SurveyDetailVO">
delete from tbl_surveydetail where sdno = #{sdno}
</delete>

<delete id="deleteFile" parameterType="int">
delete from tbl_attach where sdno = #{sdno}
</delete>

<insert id="insertFile" parameterType="SurveyDetailVO">
insert into tbl_attach (sdno, fullname) values (#{sdno}, #{attachFile})
</insert>


<insert id="addAttach">
insert into tbl_attach(fullname,sdno)values (#{fullName},LAST_INSERT_ID())
</insert>

<select id="getAttach" resultType="String">
select fullname from tbl_attach where sdno = #{sdno}
order by regdate
</select>

<select id="readDetail" resultType="SurveyDetailVO">
select * from tbl_surveydetail where
smno = #{smno}
order by sdno asc
</select>

<select id="numberPage" resultType="SurveyDetailVO">
 select 
   * 
 from 
   tbl_surveydetail
 where smno = #{smno} 
 order by sdno asc
 limit #{qnum}, 1
</select>

<select id="DetailCount" resultType="java.lang.Integer">
select count(*) from tbl_surveyDetail where smno = #{smno}
</select>

</mapper>