<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.survey.mappers.UserMapper">



  <select id="loginUser" resultType="org.survey.domain.UserVO">
  select membername membername,email email, auth as role from tbl_member where membername = #{membername}
  </select>

</mapper>